html, body {
  height: 100%;
  color: #F9F9F9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
body {
  background: #000426;
}
h2 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 10px;
  margin-left: 15px;
}