.slider-item {
  box-sizing: border-box;
  flex: 1 0 33.333%;
  max-width: calc(33.333% - 13.333px);
  border-radius: 25px;
  padding: 10px 15px;
  background: #18192E;
  position: absolute;
  height: 100%;
  transition: transform 0.5s ease;
}
.slider-item__header {
  display: flex;
  align-items: center;
}
.slider-item__title {
  font-size: 1.5em;
  padding-bottom: 3px;
}
.slider-item__date {
  margin-left: 5px;
  color: #b8b8b8;
}
.slider-item__date::before {
  content: '- ';
}
.slider-item__icons {
  display: flex;
  gap: 5px;
  margin-left: auto;
}
.slider-item__text {
  margin-top: 10px;
  text-indent: 20px;
}

@keyframes nextSlide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%) translateX(-20px);
  }
}